{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>

        <div style=" text-align: center;">
            <h2>Formulario CRUD para Alumnos</h2><br>
            <form action="alumnosAdd" method="POST">
                {% csrf_token %}
                <pre>Nombre:    <input type="text" name="Nombre" ></pre>
                <pre>Apellido: <input type="text" name="Apellido"></pre>
                <pre>Gmail:       <input type="text" name="Gmail" ></pre>
                <pre>Contraseña: <input type="text" name="Contraseña"></pre>

                <input type="submit" name="opcion" value="Agregar"> 
            </form> <br>
            <a href="{% url 'crud' %}">Volver</a>
        </br>
            <div id="idMensajes">
                {% if mensaje %}
                {{mensaje}}
                {% endif %}
            </div>
        </div>
    </body>
</html>
