{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar Datos de Usuarios</h1>
    <br>

    <button type="button">
        <a href="{% url 'Usuarios_add' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif%}
    </div>

    <table>
        {% if usuarios %}
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Gmail</th>
            <th>Contraseña</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for x in Usuario %}
                <tr>
                    <td> {{ x.nombre }}
                    <td> {{ x.apellido }} 
                    <td> <a herf="{% url 'usuarios_del' pk=x.nombre %}">Eliminar</a>
                    <td> <a herf="{% url 'usuarios_findEdit' pk=x.nombre %}">Modificar</a>

                    
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        $("#idMensajes").delay(2000).fadeOut("slow");
    });
</script>
</body>
</html