{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="text-align: center;">
        {% if usuarios %}
            <h2>Formulario Actualizar Datos</h2><br>
            <form action="{$ url 'UsuarioUpdate %}" method="POST">
                {% csrf_token %}
                <pre>Nombre:        <input type="text" name="Nombre" value="{{Usuario.Nombre}}"></pre>
                <pre>Apellido:      <input type="text" name="Apellido" value="{{Usuario.Apellido}}"></pre>
                <pre>Gmail:     <input type="text" name="Gmail" value="{{Usuario.Gmail}}"></pre>
                <pre>Contraseña: <input type="text" name="Contraseña" value="{{Usuario.Contraseña}}"></pre>
                <input type="submit" name="opcion" value="Actualizar">
            </form> <br><br>
        {% endif %}
        <div id="idMensajes">
            {% if mensaje %}
            {{mensaje}}
            {% endif %}
        </div>
        <br><br>
        <a href="{% url 'crud' %}">Volver</a>
    </div>
</body>
</html>


